@import './base.css';

#app {
  margin: 0;
  padding: 0;

  font-weight: normal;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsl(0, 0%, 15%);
  }
} */

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  /* #app {
    padding: 0 2rem;
  } */
}
